.add-user-button{
    position: absolute;
    right: 56px;
    bottom: 56px;
}

mat-card, mat-card-content{
    padding-left: 0;
    padding-right: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    th{
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
        padding-left: 16px;
    }

    tr{
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;

        &:first-child{
            cursor: unset;

            &:hover{
                background-color: unset;
            }
        }

        &:last-child{
            border-bottom: 0;
        }

        &:hover{
            background-color: rgba(0, 0, 0, 0.04);
        }

        td{
            height: 48px;

            &:first-child{
                padding-left: 16px;
            }
        }
    }
}